<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food-resources
    </title>
    <link rel="stylesheet" href="food.css">
</head>
<body>
    <div class="home">
    <video autoplay muted loop >
        <source src="/assets/cooking-vid.mp4" type="video/mp4" />
    </video>
    <div class="overlay"></div>
    <div class="home-content">
        <h1>lets plan your next meal.</h1>
        <p>Cheap and quick. Your time and wallet are valuable</p>
        <div class="midddle-line"></div>
        <button onclick=""> 
            <a href="/index.html">
                home
            </a>
         </button>
         <button onclick=""> 
            <a href="https://www.allrecipes.com/recipes/17515/everyday-cooking/quick-and-easy/main-dishes/">
                quick easy meals 
            </a>
         </button>
         
        
         </div>
         </div>
        
        
      
    


    
</body>
</html>