<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scholarships</title>
    <link rel="stylesheet" href="./scholarships.css">
</head>
<body>
    <div class="home">

        <video autoplay muted loop>
            <source src="/assets/background-video.mp4" type="video/mp4" />
        </video>
        <div class="overlay"></div>
        <div class="home-content">
            <h1>Scholarships</h1>
            <div class="midddle-line"></div>
            <button onclick=""> 
                <a href="/index.html">
                    home
                </a>
             </button>
             <button onclick=""> 
                <a href="https://www.careeronestop.org/toolkit/training/find-scholarships.aspx">
                    careeronestop.org
                </a>
             </button> <button onclick=""> 
                <a href="https://www.scholarships.com/">
                Scholarships.com
                </a>
             </button>
            
           
            
        </div>
    </div>

    
    
    
            


    

    
</body>
</html>