<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grants</title>
    <link rel="stylesheet" href="./grants.css">
</head>
<body>
    <div class="home">

        <video autoplay muted loop>
            <source src="/assets/Oasis.mp4" type="video/mp4" />
        </video>
        <div class="overlay"></div>
        <div class="home-content">
            <h1>grants.</h1>
            <div class="midddle-line"></div>
            <button onclick=""> 
                <a href="/index.html">
                    home
                </a>
             </button>
             <button onclick=""> 
                <a href="https://www.salliemae.com/college-planning/financial-aid/understand-college-grants/">
                    Sallie Mae
                </a>
             </button>
            
        </div>
    </div>

    
    
    
            


    

</body>
</html>